.content {
    .top-nav-bar{
        height: 56px;
        width: 100%;
        border-bottom: solid 1px #EBEBEB;
    }
    .body-content{
        display: flex;
        .side-bar{
            min-width: 200px;
            min-height: 100vh;
            border-right: solid 1px #EBEBEB;

            @media (max-width: 768px) {
                min-width: 100px;
            }
        }
    }
}