.content {
    .top-nav-bar{
        height: 56px;
        width: 100%;
        border-bottom: solid 1px #EBEBEB;
    }
    .body-content{
        display: flex;
        .side-bar{
            width: 20%;
            min-width: 100px;
            height: 100vh;
            border-right: solid 1px #EBEBEB;
        }
    }
}